@import '../sccsVariables';

form {
    flex-wrap: wrap;
    .switch {
        width: 100%;
    }
    .information {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
