<div class="container">
  <div class="topBackground"></div>
  <div class="bottomBackground">
    <div class="box">
      <label class="text">Hola! Por favor complete los campos.</label>
      <form [formGroup]="adminForm" (ngSubmit)="submitItem()">
        <div class="selects">
          <mat-form-field appearance="fill">
            <mat-label>Select store / articles: </mat-label>
            <mat-select [(ngModel)]="itemType" ngDefaultControl (selectionChange)="resetForm()" [formControl]="itemTypeControl">
              <mat-option value="Stores">Stores</mat-option>
              <mat-option value="Articles">Articles</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select add / edit: </mat-label>
            <mat-select [(ngModel)]="actionType" ngDefaultControl (selectionChange)="resetForm()" [formControl]="actionTypeControl">
              <mat-option value="Add">Add</mat-option>
              <mat-option value="Edit">Edit</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [ngSwitch]="itemType">
          <div *ngSwitchCase="'Stores'" class="Information">
            <div>
              <mat-form-field *ngIf="editMode" appearance="fill">
                <mat-label>Id: </mat-label>
                <input matInput [(ngModel)]="id" ngDefaultControl [disabled]="!editMode" formControlName="idControl" type="number"
                >
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Address:</mat-label>
                <input matInput [(ngModel)]="address" ngDefaultControl formControlName="addressControl" type="text">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Name:</mat-label>
                <input matInput [(ngModel)]="name" ngDefaultControl formControlName="nameControl" type="text">
              </mat-form-field>
            </div>
          </div>
          <div *ngSwitchCase="'Articles'" class="Information">
              <mat-form-field *ngIf="editMode" appearance="fill">
                <mat-label>Id: </mat-label>
                <input matInput [(ngModel)]="id" ngDefaultControl [disabled]="!editMode" formControlName="idControl" type="number"
                >
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Description: </mat-label>
                <input matInput [(ngModel)]="description" ngDefaultControl formControlName="descriptionControl" type="text">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Name:</mat-label>
                <input matInput [(ngModel)]="name" ngDefaultControl formControlName="nameControl" type="text">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Price:</mat-label>
                <input matInput [(ngModel)]="price" ngDefaultControl formControlName="priceControl" type="number">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Total In Shelf:</mat-label>
                <input matInput [(ngModel)]="total_in_shelf" ngDefaultControl formControlName="shelfControl" type="number">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Total In Vault:</mat-label>
                <input matInput [(ngModel)]="total_in_vault" ngDefaultControl formControlName="vaultControl" type="number">
              </mat-form-field>
              <mat-form-field *ngIf="!editMode" appearance="fill">
                <mat-label>Store Id:</mat-label>
                <input matInput [(ngModel)]="store_id" ngDefaultControl formControlName="storeIdControl" type="number">
              </mat-form-field>
          </div>
        </div>
        <div class="buttons">
          <button [disabled]="!adminForm.valid" type="submit">Continuar</button>
          <button (click)="regresar()">Regresar</button>
        </div>
        <mat-form-field *ngIf="response" class="matTextArea" appearance="fill">
          <textarea matInput>{{response | json}}</textarea>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>