@import '../sccsVariables';

form {
    flex-direction: column;
}
button {
    margin: 0 auto;
}
input {
    margin-top: 10%;
    border: 0 transparent;
    border-bottom: 1px solid #00000045;
    width: 70%;
    height: 25px;
}