$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

.container {
    width: 100vw;
    height: 100vh;
    form {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
}
.topBackground {
    background-color: purple;
    width: 100%;
    height: 30%;
}
.bottomBackground {
    background-color: black;
    width: 100%;
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.box {
    min-height: 30%;
    text-align: center;
  @media only screen and (max-width: 100vw){
    max-width: 25%;
    }
    @media only screen and (max-width: 800px){
        max-width: 65%;
    }
    @media only screen and (max-width: 400px){
        max-width: 50%;
    }
    top: -10%;
    padding: 2% 3%;
    box-shadow: 0 0.0625rem 0.125rem 0
    rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    background-color:white;
    z-index: 2;
    position: relative;

    .selects {
        margin-top: 10%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .text {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: .0125rem;
        color:rgba(0,0,0,.8);
        overflow-wrap: break-word;
    }
    input:hover {
        border-bottom: 2px solid black;
        transition: .15s ease-out;
    }
    .buttons {
        display: flex;
        width: 100%;
        margin-top: 10%;
        justify-content: space-between;
        button {
            background-color:#0070ffc4;;
            border-radius: 6px;
            height: 50px;
            width: 30%;
            border: none;
            color:white;
            font-weight: bold;
        }
        button:hover{
            background-color:#0070ff;;
        }
        button:disabled{
            background-color: grey;
            cursor: not-allowed;
        }
    }    
    .matTextArea {
        width: 55%;
        height: 200px;
        position: relative;
        margin-left: 22%;
        textarea {
            height: 200px;
        }
    }
}
